<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <!-- Title -->
    <title>HCC - Properties</title>
    <link rel="icon" href="https://cdn-icons-png.flaticon.com/512/1174/1174660.png" type="image/png">

    <!-- Leaflet CSS -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js" crossorigin=""></script>

    <style>
        html, body {
            height: 100%;
            margin: 0;
            padding: 0;
        }
        #map {
            height: 100vh; /* 100% da altura da janela */
            width: 100%;   /* 100% da largura */
        }
    </style>
</head>

<body>
    <div id="map"></div>

    <script>
        // Inicializa o mapa
        var map = L.map('map');

        // Adiciona marcadores para cada propriedade
        var properties = JSON.parse('{{ properties_json|escapejs }}');  // Converte o JSON para objeto JavaScript

        // Calcular o centro do mapa
        var latitudes = properties.map(property => property.latitude);
        var longitudes = properties.map(property => property.longitude);
        var centerLat = latitudes.reduce((a, b) => a + b, 0) / latitudes.length;
        var centerLon = longitudes.reduce((a, b) => a + b, 0) / longitudes.length;

        // Adicionar marcadores e calcular limites
        var bounds = L.latLngBounds();
        properties.forEach(function(property) {
            L.marker([property.latitude, property.longitude], {
                icon: L.icon({
                    iconUrl: 'https://www.svgrepo.com/show/235481/greenhouse.svg', // URL do ícone do marcador
                    iconSize: [32, 32], // Tamanho do ícone
                    iconAnchor: [16, 32], // Ancoragem do ícone
                    popupAnchor: [0, -32] // Âncora do popup
                })
            }).addTo(map)
            .bindPopup(
                '<b>' + property.name + '</b><br>' +
                property.description + '<br>' +
                '<a href="/properties/' + property.id + '">Ver detalhes</a>');

            // Adiciona cada local ao limite
            bounds.extend([property.latitude, property.longitude]);
        });

        // Define o centro e o zoom do mapa
        map.fitBounds(bounds);

        // Adiciona a camada base
        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            maxZoom: 19,
            attribution: 'Hidro Cultiva Connect'
        }).addTo(map);
    </script>

</body>
</html>
