<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <!-- Title -->
    <title>Property</title>
    <link rel="icon" href="https://cdn-icons-png.flaticon.com/512/1174/1174660.png" type="image/png">

    <script>
        function turnOnDevice(deviceId, buttonElement) {
            fetch('/api_device/turn_on/', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': getCookie('csrftoken')  // Inclua o token CSRF se estiver usando proteção CSRF
                },
                body: JSON.stringify({ id: deviceId })  // Envia o ID do dispositivo no corpo da requisição
            })
            .then(response => response.json())
            .then(data => {
                if (data.status) {
                    buttonElement.innerText = 'Turn-off';
                    buttonElement.classList.remove('btn-outline-success');
                    buttonElement.classList.add('btn-outline-danger');
                    buttonElement.setAttribute('onclick', `turnOffDevice('${deviceId}', this)`);
                    window.location.reload();  // Recarrega a página
                } else if (data.error) {
                    console.error(data.error);
                }
            })
            .catch(error => console.error('Error:', error));
        }

        function turnOffDevice(deviceId, buttonElement) {
            fetch('/api_device/turn_off/', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': getCookie('csrftoken')  // Inclua o token CSRF se estiver usando proteção CSRF
                },
                body: JSON.stringify({ id: deviceId })  // Envia o ID do dispositivo no corpo da requisição
            })
            .then(response => response.json())
            .then(data => {
                if (data.status) {
                    buttonElement.innerText = 'Turn-on';
                    buttonElement.classList.remove('btn-outline-danger');
                    buttonElement.classList.add('btn-outline-success');
                    buttonElement.setAttribute('onclick', `turnOnDevice('${deviceId}', this)`);
                    window.location.reload();  // Recarrega a página
                } else if (data.error) {
                    console.error(data.error);
                }
            })
            .catch(error => console.error('Error:', error));
        }

        function checkWaterLevel(deviceId) {
            fetch('/api_device/check_water/', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': getCookie('csrftoken')  // Inclua o token CSRF se estiver usando proteção CSRF
                },
                body: JSON.stringify({ id: deviceId })  // Envia o ID do dispositivo no corpo da requisição
            })
            .then(response => response.json())
            .then(data => {
                if (data.status) {
                    window.location.reload();  // Recarrega a página para atualizar o nível de água
                } else if (data.error) {
                    console.error(data.error);
                }
            })
            .catch(error => console.error('Error:', error));
        }

        function measureTemperature(deviceId, buttonElement) {
            fetch('/api_device/measure_temperature/', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': getCookie('csrftoken')  // Inclua o token CSRF se estiver usando proteção CSRF
                },
                body: JSON.stringify({ id: deviceId })  // Envia o ID do dispositivo no corpo da requisição
            })
            .then(response => response.json())
            .then(data => {
                if (data.status) {
                    window.location.reload();
                } else if (data.error) {
                    console.error(data.error);
                }
            })
            .catch(error => console.error('Error:', error));
        }

        function measureHumidity(deviceId, buttonElement) {
            fetch('/api_device/measure_humidity/', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': getCookie('csrftoken')  // Inclua o token CSRF se estiver usando proteção CSRF
                },
                body: JSON.stringify({ id: deviceId })  // Envia o ID do dispositivo no corpo da requisição
            })
            .then(response => response.json())
            .then(data => {
                if (data.status) {
                    buttonElement.innerText = `Humidity: ${data.status}`;
                    buttonElement.classList.add('btn-outline-success');
                    window.location.reload();  // Recarrega a página para refletir a nova umidade
                } else if (data.error) {
                    console.error(data.error);
                }
            })
            .catch(error => console.error('Error:', error));
        }

        function deviceLive(deviceId, propertyId) {
            fetch('/api_device/live/', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': getCookie('csrftoken')  // Inclua o token CSRF se estiver usando proteção CSRF
                },
                body: JSON.stringify({ id: deviceId })  // Envia o ID do dispositivo no corpo da requisição
            })
            .then(response => response.json())
            .then(data => {
                if (data.live) {
                    window.location.reload();
                    // Redireciona para a URL do dispositivo ao vivo
                    window.location.href = `/properties/${propertyId}/device/${deviceId}/live/${data.live}/`;
                } else if (data.error) {
                    console.error(data.error);
                }
            })
            .catch(error => console.error('Error:', error));
        }

        function getCookie(name) {
            let cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                const cookies = document.cookie.split(';');
                for (let i = 0; i < cookies.length; i++) {
                    const cookie = cookies[i].trim();
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
    </script>
</head>

<body>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg bg-primary text-light">
        <div class="container-fluid">
            <a class="navbar-brand text-light" href="/">Hydro Cultiva Connect</a>
        </div>
    </nav>

    <!-- Main Container -->
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <!-- Property Details Card -->
                <div class="card shadow-sm">
                    <div class="card-header bg-primary text-light">
                        <h2><strong>{{ property.name }}</strong></h2>
                    </div>
                    <div class="card-body">
                        <p>{{ property.description }}</p>
                        <div class="row">
                            <div class="col-auto">
                                <p><strong>Latitude:</strong> {{ property.latitude }}</p>
                            </div>
                            <div class="col-auto">
                                <p><strong>Longitude:</strong> {{ property.longitude }}</p>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer text-center">
                        <!-- Buttons for editing and deleting the property -->
                        <a class="btn btn-primary" href="edit/">Edit</a>
                        <a class="btn btn-outline-danger" href="delete/">Delete</a>
                        <a class="btn btn-secondary" href="/">Back</a>
                    </div>
                </div>

                <!-- New Container for Devices -->
                <div class="card mt-4 shadow-sm mb-4">
                    <div class="card-header bg-secondary text-light">
                        <h4>Devices</h4>
                    </div>
                    <div class="card-body">
                        <!-- List all devices associated with the property -->
                        {% if devices %}
                            <ul class="list-group list-group-flush">
                                {% for device in devices %}
                                    <li class="list-group-item d-flex align-items-center justify-content-between">
                                        <div class="d-flex align-items-center">
                                            <!-- Image selection based on device type -->
                                            <div class="me-3">
                                                {% if device.type == "Sprinkler" %}
                                                    <img src="https://cdn-icons-png.flaticon.com/512/1322/1322526.png" width="50" height="50" alt="{{ device.type }} image" class="rounded">
                                                {% elif device.type == "Tank" %}
                                                    <img src="https://cdn-icons-png.flaticon.com/512/6595/6595560.png" width="50" height="50" alt="{{ device.type }} image" class="rounded">
                                                {% elif device.type == "Thermometer" %}
                                                    <img src="https://friconix.com/png/fi-xnluhx-thermometer-low.png" width="50" height="50" alt="{{ device.type }} image" class="rounded">
                                                {% elif device.type == "Hygrometer" %}
                                                    <img src="https://cdn-icons-png.flaticon.com/512/6287/6287494.png" width="50" height="50" alt="{{ device.type }} image" class="rounded">
                                                {% elif device.type == "Camera" %}
                                                    <img src="https://cdn-icons-png.flaticon.com/512/3874/3874201.png" width="50" height="50" alt="{{ device.type }} image" class="rounded">
                                                {% else %}
                                                    <img src="https://webstockreview.net/images/r-clipart-rupee-logo-18.png" width="50" height="50" alt="Default image" class="rounded">
                                                {% endif %}
                                            </div>

                                            <!-- Device information -->
                                            <div>
                                                <strong>{{ device.name }}</strong><br>
                                                {{ device.type }} - {{ device.status }}
                                            </div>
                                        </div>

                                        <!-- Buttons for each device -->
                                        <div>
                                            <!-- Conditional buttons based on device type -->
                                            {% if device.type == "Sprinkler" %}
                                                <button class="btn btn-sm ms-2 btn-outline-success"
                                                    onclick="turnOnDevice('{{ device.id }}', this)"
                                                    {% if device.status == 'On' %} style="display: none;" {% endif %}>
                                                    Turn-on
                                                </button>
                                                <button class="btn btn-sm ms-2 btn-outline-danger"
                                                    onclick="turnOffDevice('{{ device.id }}', this)"
                                                    {% if device.status == 'Off' %} style="display: none;" {% endif %}>
                                                    Turn-off
                                                </button>
                                            {% elif device.type == "Tank" %}
                                                <button class="btn btn-sm ms-2 btn-outline-primary"
                                                    onclick="checkWaterLevel('{{ device.id }}')">
                                                    Check Water Level
                                                </button>
                                            {% elif device.type == "Thermometer" %}
                                                <button class="btn btn-sm ms-2 btn-outline-warning"
                                                    onclick="measureTemperature('{{ device.id }}', this)">
                                                    Measure Temperature
                                                </button>
                                            {% elif device.type == "Hygrometer" %}
                                                <button class="btn btn-sm ms-2 btn-outline-info"
                                                    onclick="measureHumidity('{{ device.id }}', this)">
                                                    Measure Humidity
                                                </button>
                                            {% elif device.type == "Camera" %}
                                                <button class="btn btn-sm ms-2 btn-outline-danger"
                                                    onclick="deviceLive('{{ device.id }}', '{{ property.id }}')">
                                                    Go Live
                                                </button>
                                            {% endif %}

                                            <a class="btn btn-sm btn-outline-primary ms-2" href="device/{{ device.id }}/">View</a>
                                        </div>
                                    </li>
                                {% endfor %}
                            </ul>
                        {% else %}
                            <p>No devices found for this property.</p>
                        {% endif %}
                    </div>
                    <div class="card-footer text-center">
                        <a class="btn btn-primary" href="add_device/">Add Device</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-+sR34S56c3WXFsA/8TgMoU9h2Y2fEer5uVzjGkZC/A6ZsY0D7th7xw5dKR5h5eJ9" crossorigin="anonymous"></script>
</body>
</html>
